<div class="header">
<div class="navbar">
<ul>
    <li><a href="/">Anasayfa</a></li>
    <li><a href="Home/Hakkimizda">hakkımda</a></li>
    <li><a href="Home/Iletişim">iletişim</a></li>
</ul>
</div>
</div>